<!doctype HTML>
<html>
<head>
    <title>Historical Places in Warsaw</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<a href="/">Home</a>
<a href="/museums">Museums</a>
<a href="/monuments">Monuments</a>
