<% include header %>

<div class="container">
<h1>Muzea</h1>
    <div class="row">
        <% museums.forEach(function(museum){ %>
            <div class="col-xs-12 col-sm-4">
                <h2><%= museum.name %></h2>
                <img class="img-responsive" src="<%= museum.image %>">
            </div> 
        <% }); %>
    </div>
</div>

<% include footer %>
